@charset "UTF-8";
$direction: rtl;
$direction_upside: ltr;
$direction_angle: '-';
$direction_upside_angle: '+';
$direction_start: right;
$direction_end: left;

@if $direction == ltr {
	$direction_upside: rtl;
	$direction_angle: '+';
    $direction_upside_angle: '-';
	$direction_start: left;
	$direction_end: right;
}

body {
	direction: $direction;
}
.preloader {
    position: fixed;
    #{$direction_start}: 0;
    #{$direction_end}: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: #040524;

    .themeholy-btn {
        padding:15px 20px;
        border-radius:0;
        font-size: 14px;
    }
}

.preloader-inner {
    text-align: center;
    position: absolute;
    #{$direction_start}: 50%;
    top: 50%;
    transform: translate(#{$direction_upside_angle}50%, -50%);
    text-align: center;
    line-height: 1;

    img {
        display: block;
        margin-top: 0; margin-#{$direction_end}: auto; margin-bottom: 0; margin-#{$direction_start}: auto;
    }
}

.loader {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

.loader:before,
.loader:after {
    content: "";
    border-radius:50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
    box-shadow: 0 2px 0 $theme-color inset;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@if $direction == rtl {

    svg[class*=right], svg[class*=left], [class*=right].fas, [class*=left].fas {
        transform: scaleX(-1) !important;
    }

    .product-item__badge {
        transform: rotate(-45deg) translateZ(0) !important;
    }

    #st_gdpr_iframe {
        left: 0 !important;
        right: -5000px;
    }

    .product-form__item select.single-option-selector {
        background-position: calc(23px) calc(1rem + 10px), calc(27px) calc(1rem + 10px);
    }

    .card__badge {
        -ms-transform: rotate(-45deg) translateZ(0);
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
    }
}
