@charset "UTF-8";
$direction: rtl;
$direction_upside: ltr;
$direction_angle: '-';
$direction_upside_angle: '+';
$direction_start: right;
$direction_end: left;

@if $direction == ltr {
	$direction_upside: rtl;
	$direction_angle: '+';
    $direction_upside_angle: '-';
	$direction_start: left;
	$direction_end: right;
}

body {
	direction: $direction;
}
/* Blog Card ---------------------------------- */
.blog-img {
    position: relative;
    .blog-date {
        position: absolute;
        top: -4px;
        #{$direction_start}: -4px;
        background-color: $theme-color;
        color: $white-color;
        font-weight: 500;
        text-align: center;
        height: 70px;
        width: 70px;
        border: 4px solid $white-color;
        text-transform: uppercase;
        padding:6px;
        &::first-line {
            display: block;
            font-size: 24px;
            font-weight: 700;
        }
    }
}
.blog-card {
    box-shadow: 0px 0px 15px rgba(229, 229, 229, 0.5);
    padding:30px;
    background-color: $white-color;
    .box-title {
        margin-bottom: 22px;
        a {
            background-image: linear-gradient(to #{$direction_start}, $theme-color, $theme-color);
            background-repeat: no-repeat;
            background-position: bottom #{$direction_start};
            background-size: 0 2px;
            transition: 0.5s ease-in-out;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
    .blog-img {
        overflow: hidden;
        img {
            width: 100%;
            transition: 0.4s ease-in-out;
        }
    }
    .blog-meta {
        margin-top: 18px; margin-#{$direction_end}: 0; margin-bottom: 18px; margin-#{$direction_start}: 0;
        span, 
        a {
            > i {
                color: $theme-color;
            }
        }
    }
    .themeholy-btn {
        padding:17px 20px;
        min-width: 148px;
    }
    &.style2 {
        .blog-img {
            margin-top: -30px; margin-#{$direction_end}: -30px; margin-bottom: 22px; margin-#{$direction_start}: -30px;
            .blog-date {
                top: 26px;
                #{$direction_start}: 26px;
            }
        }
    }
    &:hover {
        .blog-img {
            img {
                transform: scale(1.08);
            }
        }
    }
}

.line-bg {
    background: repeating-linear-gradient(45deg, $smoke-color 0%, rgba(239, 239, 239, 0.05) 180px, $border-color 181px);
}

@include md {
    .blog-card {
        .box-title {
            font-size: 22px;
        }
    }
}

@include sm {
    .blog-card {
        .box-title {
            font-size: 24px;
        }
    }
}
@media (max-width: 410px) {
    .blog-card {
        .box-title {
            font-size: 22px;
        }
    }
}

@media (max-width: 350px) {
    .blog-card {
        padding:20px;
        .box-title {
            font-size: 20px;
        }
        &.style2 {
            .blog-img {
                margin-top: -20px; margin-#{$direction_end}: -20px; margin-bottom: 18px; margin-#{$direction_start}: -20px;
                .blog-date {
                    top: 16px;
                    #{$direction_start}: 16px;
                }
            }
        }
    }
}
@if $direction == rtl {

    svg[class*=right], svg[class*=left], [class*=right].fas, [class*=left].fas {
        transform: scaleX(-1) !important;
    }

    .product-item__badge {
        transform: rotate(-45deg) translateZ(0) !important;
    }

    #st_gdpr_iframe {
        left: 0 !important;
        right: -5000px;
    }

    .product-form__item select.single-option-selector {
        background-position: calc(23px) calc(1rem + 10px), calc(27px) calc(1rem + 10px);
    }

    .card__badge {
        -ms-transform: rotate(-45deg) translateZ(0);
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
    }
}
